# Entorno virtual
venv*/
*.env
.env
env*/

env_Luis/
env_claudio/
env_pcclaudio/



*.pyc
_pycache_/

# Archivos de configuración temporales
*.log
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node (por si acaso)
node_modules/

# Archivos grandes
*.zip
*.tar.gz


# Bot de WhatsApp, genera codigo QR para iniciar sesion y inicializar el bot
wsp_bot/.wwebjs_auth
wsp_bot/.wwebjs_cache