{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    
    <script src="{% static 'js/html2canvas.min.js' %}"></script>
    <script src="{% static 'js/jspdf.umd.min.js' %}"></script>

    <title>{% block title %} {% endblock %}</title>
</head>


<style>
    .no {
        display: block
    }
    
    .menu-section {
        margin-top: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 10px;
    }
    
    .section-title {
        color: #f8f9fa;
        font-weight: bold;
        padding: 10px 15px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .section-items {
        padding-left: 15px;
    }
    
    .section-items a {
        padding: 8px 15px 8px 30px;
    }
    
    .menu-section-toggle {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu-section-toggle::after {
        content: '▼';
        font-size: 12px;
        transition: transform 0.3s;
    }
    
    .menu-section-toggle.collapsed::after {
        transform: rotate(-90deg);
    }
    
    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        width: 100%;
        position: relative;
    }
    
    .menu-header .logoCCL {
        margin: 0 auto;
        display: block;
        max-width: 70%;
    }
    
    .menu-header .cerrarMenubtn {
        position: absolute;
        right: 15px;
    }
</style>


<body>
    <header class="encabezado_principal">
        <button class="abrirMenubtn" onclick="abrirMenu()">☰</button>
        <a href="{% url 'Modulo_admin:grafico' %}">
            <img src="{% static 'images/logo_ccl.png'%}" alt="Logo Colegio Concepcion" class="logoCCL">
        </a>
        <h1 class="h1_global">Ingresos Colegio Concepcion</h1>
        <li class="nav-item dropdown no">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="user-display">{{ user.first_name }} {{ user.last_name }}</span>
                <img class="user_icon" src="{% static 'icon/user_icon.svg' %}" alt="Icono de Usuario">
            </a>
            <ul class="dropdown-menu" style="width:100%; text-align: center; font-size: 18px;">
                <li>
                    <form method="POST" action="{% url 'Modulo_admin:logout_admin' %}">
                        {% csrf_token %}
                        <button class="dropdown-item text-danger" type="submit">Cerrar sesión</button>
                    </form>
                </li>
            </ul>
        </li>
    </header>

    <div id="menuLateral" class="menuLateral">
        
        <div class="menu-header">
            <img src="{% static 'images/logo_ccl.png'%}" alt="Logo Colegio Concepcion" class="logoCCL">
            <a href="javascript:void(0)" class="cerrarMenubtn" onclick="cerrarMenu()"><img src="{% static "icon/x.svg" %}" alt="Cerrar menú" class="menu_icono"></a>
        </div>
        
        
        <a href="{% url 'Modulo_admin:grafico' %}" style="margin-top: 40px;"><img src="{% static "icon/hogar.svg" %}" alt="Logo de Inicio" class="menu_icono" >Inicio</a>
        
        <!-- Sección de Funcionarios -->
        <div class="menu-section">
            <div class="section-title menu-section-toggle" data-bs-toggle="collapse" data-bs-target="#funcionariosSection" aria-expanded="true">
                Funcionarios
            </div>
            <div id="funcionariosSection" class="collapse show section-items">
                <a href="{% url 'Modulo_admin:historial_permisos' %}"><img src="{% static "icon/tabla.svg" %}" alt="Logo de Tabla" class="menu_icono"> Permisos Completados</a>
                <a href="{% url 'Modulo_admin:historial_salidas' %}"><img src="{% static "icon/tabla.svg" %}" alt="Logo de Tabla" class="menu_icono">Salidas Activas</a>
                <a href="{% url 'Modulo_admin:administradores' %}"><img src="{% static "icon/usuarios.svg" %}" alt="Logo de Administrador" class="menu_icono">Administradores</a>
                <a href="{% url 'Modulo_admin:area' %}"><img src="{% static "icon/area.svg" %}" alt="Logo de Área" class="menu_icono">Área</a>
            </div>
        </div>

        <!-- Sección de Alumnos -->
        <div class="menu-section">
            <div class="section-title menu-section-toggle" data-bs-toggle="collapse" data-bs-target="#alumnosSection" aria-expanded="true">
                Alumnos
            </div>
            <div id="alumnosSection" class="collapse show section-items">
                <a href="{% url 'Modulo_admin:grafico_alumnos' %}"><img src="{% static "icon/grafico.svg" %}" alt="Logo de Tabla" class="menu_icono">Graficos</a>
                <a href="{% url 'Modulo_admin:retiros' %}"><img src="{% static "icon/retiros.svg" %}" alt="Logo de Tabla" class="menu_icono">Retiros</a>
                <a href="{% url 'Modulo_admin:justificaciones' %}"><img src="{% static "icon/justificativo.svg" %}" alt="Logo de Tabla" class="menu_icono">Justificativos</a>
                <a href="{% url 'Modulo_admin:alumnos' %}"><img src="{% static "icon/alumnos.svg" %}" alt="Logo de Tabla" class="menu_icono">Alumnos</a>
                <a href="{% url 'Modulo_admin:alumnos_egresados' %}"><img src="{% static "icon/alumno_egresado.svg" %}" alt="Logo de Tabla" class="menu_icono">Egresados</a>
                <a href="{% url 'Modulo_admin:cursos'%}"><img src="{% static "icon/cursos.svg" %}" alt="Logo de Tabla" class="menu_icono">Cursos</a>
                <a href="{% url 'Modulo_admin:inspectores'%}"><img src="{% static "icon/inspector.svg" %}" alt="Logo de Tabla" class="menu_icono">Inspectores</a>
            </div>
        </div>
    </div>
    
    <main class="contenido">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        Copyright © Colegio Concepcion - Linares 2025
    </footer>

    {% if messages %}
        {% for message in messages %}
            <script>
                mensaje('{{ message.tags }}', '{{ message }}');
            </script>
        {% endfor %}

    {% endif %}

     <!-- Script para cerrar el menú al hacer clic fuera de él -->
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Función para cerrar el menú cuando se hace clic fuera de él
            document.addEventListener('click', function(event) {
                var menuLateral = document.getElementById('menuLateral');
                var abrirMenuBtn = document.querySelector('.abrirMenubtn');
                
                // Verificar si el menú está abierto
                if (menuLateral.style.width && menuLateral.style.width !== '0px') {
                    // Verificar si el clic fue fuera del menú y no en el botón de abrir
                    if (!menuLateral.contains(event.target) && event.target !== abrirMenuBtn) {
                        cerrarMenu();
                    }
                }
            });
        });

        
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Seleccionar todos los formularios en la página
            const forms = document.querySelectorAll('form');
            
            forms.forEach(form => {
                form.addEventListener('submit', function(e) {
                    // Obtener todos los botones de tipo submit dentro del formulario
                    const submitButtons = this.querySelectorAll('button[type="submit"], input[type="submit"]');
                    
                    // Deshabilitar todos los botones de envío
                    submitButtons.forEach(button => {
                        // Guardar el texto original del botón
                        const originalText = button.innerHTML || button.value;
                        
                        // Cambiar el texto y deshabilitar
                        if (button.tagName === 'BUTTON') {
                            button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Procesando...';
                        } else {
                            button.value = 'Procesando...';
                        }
                        
                        button.disabled = true;
                        
                        // Almacenar el texto original como atributo de datos
                        button.setAttribute('data-original-text', originalText);
                    });
                });
            });
        });
        </script>

</body>
</html> 