
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Inicio de Sesión</title>


    <!-- Estilos para el footer fijo -->
    <style>
      html, body {
          height: 100%;
          margin: 0;
      }
      
      body {
          display: flex;
          flex-direction: column;
          min-height: 100vh; /* viewport height */
      }
      
      .content-wrapper {
          flex: 1 0 auto; /* Esto hace que el contenido ocupe todo el espacio disponible */
      }
      
      .footer {
          flex-shrink: 0; /* Evita que el footer se encoja */
          background-color: #6f82be;
          padding: 1rem 0;
          text-align: center;
          width: 100%;
          margin-top: auto; /* Empuja el footer hacia abajo */
      }
  </style>
</head>



<body>
  <header class="encabezado_principal">
    <a href="{% url 'principal' %}">
      <img src="{% static 'images/logo_ccl.png'%}" alt="Logo Colegio Concepcion" class="logoCCL">
  </a>
    <h1 class="h1_global">Ingresos Colegio Concepción</h1>
    <div class="btn_login">
        <a href="{% url 'Modulo_admin:admin' %}">
            <img class="user_icon" src="{% static 'icon/user_icon.svg' %}" alt="Icono de Usuario">
        </a>
    </div>
  </header>

  <div class="centrar_card">
      <div class="card card_login">
        <h1 class="h1_login">Iniciar Sesión</h1>
        <form method="POST" action="{% url 'Modulo_admin:login_admin' %}" class="card_body_login">
          {% csrf_token %}
            <label for="rut" class="usuario">RUT:</label>
            <input type="text" id="rut" name="rut" class="Login_input" placeholder="Ej: 12.345.678-9" required>
            <label for="password" class="contraseña">Contraseña:</label>
            <input type="password" id="password" name="password" class="Login_input" required>
            <small class="form-text text-muted">Si olvido su contraseña, dirijase a Área de Informatica.</small>
            <button type="submit" class="login_btn btn" style="color:white;">Iniciar Sesión</button>
            <a href="{% url 'principal' %}" class="btn login_btn" style="color:white;">Volver</a>
        </form>
      </div>
  </div>

  <footer class="footer">
      Copyright © Colegio Concepción - Linares 2025
  </footer> 



<!--script para formatear RUT -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const rutInput = document.getElementById('rut');
    
    // Función para formatear RUT
    function formatearRut(rut) {
      // Eliminar puntos y guiones
      let valor = rut.replace(/\./g, '').replace(/-/g, '');
      
      // Obtener dígito verificador
      let dv = valor.slice(-1);
      
      // Obtener cuerpo del RUT
      let rutCuerpo = valor.slice(0, -1);
      
      // Formatear RUT con puntos y guión
      let rutFormateado = '';
      
      // Agregar puntos de miles
      for (let i = rutCuerpo.length; i > 0; i -= 3) {
        const inicio = Math.max(0, i - 3);
        rutFormateado = '.' + rutCuerpo.substring(inicio, i) + rutFormateado;
      }
      
      // Eliminar el primer punto
      rutFormateado = rutFormateado.substring(1);
      
      // Agregar guión y dígito verificador
      return rutFormateado + '-' + dv;
    }
    
    // Evento para formatear el RUT mientras se escribe
    rutInput.addEventListener('input', function() {
      let valor = this.value.replace(/[^\dkK]/g, '');
      if (valor.length > 1) {
        this.value = formatearRut(valor);
      }
    });
  });
</script>



  {% if messages %}
    {% for message in messages %}
      <script>
        mensaje('{{ message.tags }}', '{{ message }}');
      </script>
    {% endfor %}
  {% endif %}

</body>
</html>